---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Aut+iure+eaque+et+cumque+ab+doloremque.%0ADicta+pariatur+adipisci.+Quibusdam+ut+totam+ex.+Molestiae+ab+accusamus+laudantium+perferendis.+Do...
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="b3d71a24844f95802e1cbee6fcccfd65",
        oauth_signature="zW41KkcdTTCUo6COqZws3ySfMT8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1435411277", oauth_token="<TWITTER_APP_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 27 Jun 2015 13:21:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 720b73ec70151bcd6c95177cd467d43b
      X-Response-Time:
      - '66'
      X-Transaction:
      - 37e0e8f3f72f6ca9
      X-Tsa-Request-Body-Time:
      - '4'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sat Jun 27 13:21:18 +0000 2015","id":614785577775460352,"id_str":"614785577775460352","text":"Aut
        iure eaque et cumque ab doloremque.\nDicta pariatur adipisci. Quibusdam ut
        totam ex. Molestiae ab accusamus laudantium perferendis. Do...","source":"\u003ca
        href=\"http:\/\/twittery-board.herokuapp.com\/\" rel=\"nofollow\"\u003etwittery_board\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3303207621,"id_str":"3303207621","name":"Micha\u0142
        Begejowicz","screen_name":"MBegejowicz","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        May 29 22:43:48 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":15,"lang":"pl","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"bs"}'
  recorded_at: Sat, 27 Jun 2015 13:21:18 GMT
recorded_with: VCR 2.9.3
