---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="065993ce7d09e7381a11cb75b27c82f2",
        oauth_signature="iMpU%2BQI%2F2fi8KI1jkRMMO7SSyGs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1435413856", oauth_token="<TWITTER_APP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 27 Jun 2015 14:04:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 459c09f58be0f2f917359fb63365eea3
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1435414692'
      X-Response-Time:
      - '50'
      X-Transaction:
      - c7c62af827e8b02a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sat Jun 27 14:04:04 +0000 2015","id":614796338761441280,"id_str":"614796338761441280","text":"@MBegejowicz
        Test comment #3","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":614790909973168128,"in_reply_to_status_id_str":"614790909973168128","in_reply_to_user_id":3303207621,"in_reply_to_user_id_str":"3303207621","in_reply_to_screen_name":"MBegejowicz","user":{"id":2718891330,"id_str":"2718891330","name":"Bartosz
        \u017burkowski","screen_name":"zurek107","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":9,"listed_count":0,"created_at":"Sat
        Aug 09 08:36:46 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":24,"lang":"pl","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2718891330\/1413842725","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"MBegejowicz","name":"Micha\u0142
        Begejowicz","id":3303207621,"id_str":"3303207621","indices":[0,12]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"fr"},{"created_at":"Sat
        Jun 27 13:53:26 +0000 2015","id":614793665366650881,"id_str":"614793665366650881","text":"@MBegejowicz
        Test comment #2","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":614790909973168128,"in_reply_to_status_id_str":"614790909973168128","in_reply_to_user_id":3303207621,"in_reply_to_user_id_str":"3303207621","in_reply_to_screen_name":"MBeg[...]
